{% extends "SruCoreBundle:FrontOffice:layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <h1>Modification d'une adresse</h1>

    <hr>
    {% if erreurs is defined  %}
        <div class="alert alert-danger">Erreurs :  {{ erreurs }}</div>
    {% endif %}

    {% include "SruCoreBundle:FrontOffice/UserInfo:form.edit.html.twig" %}
{% endblock %}
