<div class="well col-sm-10">
    <div class="form-group">
        {{ form_errors(form.zone) }}
        {{ form_label(form.zone, 'Zone') }}
        {{ form_widget(form.zone, {'attr' : {'class' : 'form-control'} }) }}
    </div>
</div>
