{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}



{% block content %}
    {{ parent() }}

    <h1>Création d'une zone de livraison</h1>

    <hr>
    {% if erreurs is defined  %}
        <div class="alert alert-danger">Erreurs :  {{ erreurs }}</div>
    {% endif %}

    {% include "SruCoreBundle:BackOffice/ShipmentZone:form.new.html.twig" %}
{% endblock %}

