<form method="post" class="text-left categoryForm" role="form" action="{{  path('admin_category_update', {id: entity.id}) }}" action-picture="{{ path('admin_product_pictures') }}" {{ form_enctype(form) }}>



    <button class="btn btn-warning">
        <span class="glyphicon glyphicon-ok"></span> &nbsp;
        Modifier la catégorie</button>

    <br><br>

    {% include  "SruCoreBundle:BackOffice/Category:form.content.html.twig" %}

</form>
