{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}



{% block content %}
    {{ parent() }}

    <h1>Modification du carousel</h1>

    <hr>
    {% if erreurs is defined  %}
        <div class="alert alert-danger">Erreurs :  {{ erreurs }}</div>
    {% endif %}

    {% include "SruCoreBundle:BackOffice/Slideshow:form.edit.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/srucore/js/picture/pictureHandler.js') }}" ></script>
{% endblock %}
