<form method="post" class="text-left tvaForm" role="form" action="{{ path('admin_tva_create') }}" {{ form_enctype(form) }}>


    <button class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span> &nbsp;
        Créer la TVA</button>

    <br><br>

    {% include "SruCoreBundle:BackOffice/Tva:form.content.html.twig" %}

</form>