{% include "SruCoreBundle:FrontOffice/UserInfo:index.style.html.twig" %}

<div class="large-4 columns text-center" >
    <div class="panel "style="height: 322px; border: #BBB dashed 2px;"><br><br><br><br><br><br><br>
        <a href="{{ path('profil_informations_new') }}" class="button">Créer une adresse</a>
    </div>
</div>